* {
        margin: 0;
        padding: 0;

        box-sizing: border-box;
      }
@font-face {
        font-family: Pixmachine;
        src: url(/assets/fonts/Pixmachina.ttf);
      }


img {
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
      }

body {
	background-color: #3c454eff;
}

/*----Containers----*/
.banner {
	text-align: left;

	position: relative;
	min-height: 1vh;
	padding: 1vh;

	background-color: #23292fff;
}

.aboutme {
	font-family: Pixmachina;

	text-align: left;
	position: relative;
	
	margin-right: 30%;
	margin-bottom: 10;
	margin-top: 10;

	padding: 10 10 10rem;
	min-width: 560px;
	min-height: 20rem;

	color: white;
	background-color: #23292fff;
}

.badges {
	text-align: left;

	position: relative;
	margin-right: 60%;
	padding: 10 10 10;
	min-width: 560px;

	background-color: #23292fff;
}

@media (max-width: 720px) {
	.badges {
			padding: 10 10 10rem;
		}

	.aboutme {
			min-height: 30rem;
		}
}
