* {
        margin: 0;
        padding: 0;

        box-sizing: border-box;
      }
@font-face {
        font-family: Dina;
        src: url(./fonts/DinaRemasterII.ttc);
      }


img {
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
      }

body {	
	background-color: #3c454eff;
}

/*----Containers----*/
.aboutme {
	z-index: 1;
	font-family: Dina;

	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);


	padding: 10rem 10 0;
	min-width: 60%;
	min-height: 30rem;

	color: white;
	background-color: #23292fff;
}


h3 {
	padding: 10;
}

/*-----Images----*/
.header {
	position: absolute;
	bottom: 95%;
	left: 5.7%;
	

	transform: translate(-50%, -50%);
	background-color: #23292fff;
}

/*----Media----*/
@media (max-width: 720px) {
	.aboutme {
		min-width: 30rem;
	}

	.header {
		top: 10%;
		left: 50%;
		min-width: 40%;
	}
}
